<div class="page-header">
	<h1>Jornada 1</h1>
</div>
	<div class="panel panel-default col-sm-6">
		<div class='panel panel-heading text-center'>Match #51</div>
        <div class='panel-body'>
        <ul class="list-group">
    <li class="list-group-item text-center">Finished</li>
     <li class="list-group-item text-center">2015-9-23</li>
  </ul>
        <div class='col-sm-6 text-center'> <ul class="list-group">
     <li class="list-group-item"><img class='team-icon' src='http://fakeimg.pl/100x100/?text=Team 1&font=lobster' width='64' height='64'></li>
    <li class="list-group-item">Team 1</li>
     <li class="list-group-item">1</li>
  </ul></div><div class='col-sm-6 text-center'><ul class="list-group">
  <li class="list-group-item"><img class='team-icon' src='http://fakeimg.pl/100x100/?text=Team 2&font=lobster' width='64' height='64'></li>
    <li class="list-group-item">Team 2</li>
     <li class="list-group-item">3</li>
  </ul></div>
	</div></div>

 


<div id="simple" ng-controller="MyController">
  <p>Let's try this simple notify service, injected into the controller...</p>
  <input ng-init="message='test'" ng-model="message" >
  <button ng-click="callNotify(message);">NOTIFY</button>
  <p>(you have to click 3 times to see an alert)</p>
</div>

